<form method="POST" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
Title: <input type="text" name="article[title]" id="title" value="<%= @article.title %>"> <br>
Content: <input type="text" name="article[content]" id="content" value="<%= @article.content %>"><br>
<input type="submit"/>
</form>