<h1>New article</h1>

<form method="POST" action="/articles">
Title: <input type="text" name="article[title]" id="title"/> <br>
Content: <input type="text" name="article[content]" id="content"/><br>
<input type="submit"/>
</form>